body {background-color: black}
p {
	padding-bottom: 20px;
	padding-top: 20px
}

.Title {
font-family: 'NeueHaasGrotesk', 'Helvetica Neue', Helvetica, Arial, sans-serif;
font-size: 190px;
font-weight: 600;
letter-spacing: 0;
line-height: 1;
text-align: center;
background-color: black;
color: white;
padding-bottom: 10px;
}

a {
	color: white;
}