body {background-color: black}
p {
	padding-bottom: 20px;
	padding-top: 20px
}

.Title {
font-family: 'NeueHaasGrotesk', 'Helvetica Neue', Helvetica, Arial, sans-serif;
font-size: 190px;
font-weight: 600;
letter-spacing: 0;
line-height: 1;
text-align: center;
background-color: black;
color: white;
padding-bottom: 10px;
}

a {
	color: white;
}


.btn-slide {
text-align: left;
padding-left: 120px;
color: red;
padding-top: 20px;
font-size: 40px;
}

.slide {
width:35%;
font-family: Helvetica,Arial,sans-serif;
font-size: 25px;
height: 380vh;
padding:20px;
background-color: red;
position:fixed;
top:0px;
right:0px;
margin-right: 500%;
z-index: 9999
}

.box.active {
background-color: gold;
transition:2s;
}

.slide.active {
margin-right: 0;
transition:2s;
color: gold;
}