body {
font-family: Helvetica,Arial,sans-serif;
font-size: 25px;
padding-left: 10px;
color: red;
text-align: left;
position: relative;
bottom: 200px;
background-color: red;
}

a {
color:red;
width: 1400px;
height: 1000px;
}


.Title {
font-family: Helvetica,Arial,sans-serif;
font-size: 100px;
padding-top: 240px;
margin-left: auto;
margin-right: auto;
width: 1400px;
height: 800px;
color: gold;
text-align: center;
z-index: 9999;
padding-bottom: 10px;
animation: colorchange 5s infinite alternate;
}
@keyframes colorchange {
	0% {
		font-size: 100px;
		}
		100% {
			font-size: 190px;
		}
}

.DPUB {
font-family: Helvetica,Arial,sans-serif;
font-size: 80px;
padding-top: 20px;
padding-bottom: 990px;
margin-left: auto;
margin-right: auto;
width: 1100px;
height: 1100px;
background-color: gold;
text-align: center;
}

.btn-slide {
text-align: left;
padding-left: 120px;
color: gold;
padding-top: 20px;
font-size: 40px;
}

.slide {
width:35%;
font-family: Helvetica,Arial,sans-serif;
font-size: 25px;
height: 380vh;
padding:20px;
background-color: red;
position:fixed;
top:0px;
right:0px;
margin-right: 500%;
z-index: 9999
}

.box.active {
background-color: gold;
transition:2s;
}

.slide.active {
margin-right: 0;
transition:2s;
color: gold;
}

.desktop {
display: block
}

@media (max-width: 500px) {

.Title {
font-family: Helvetica,Arial,sans-serif;
font-size: 50px;
padding-top: 240px;
height: 800px;
color: gold;
text-align: left;
z-index: 9999;
padding-bottom: 10px;
}

.DPUB {
font-family: Helvetica,Arial,sans-serif;
font-size: 40px;
padding-bottom: 270px;
width: 400px;
height: 600px;
text-align: left;
z-index: 9999;
padding-bottom: 10px;
}

.btn-slide {
display: none
}

.slide {
display: none
}

}






