body {
font-family: Helvetica,Arial,sans-serif;
font-size: 25px;
padding-left: 10px;
color: red;
text-align: left;
position: relative;
bottom: 200px;
background-color: gold;
}

a {
color:red;
width: 1400px;
height: 1000px;
}


.Title {
font-family: Helvetica,Arial,sans-serif;
font-size: 170px;
color:red;
padding-top: 240px;
margin-left: auto;
margin-right: auto;
width: 1400px;
height: 800px;
text-align: center;
z-index: 9999;
padding-bottom: 10px;
}

.sub-heading {
font-size: 20px;
font-family: Helvetica,Arial,sans-serif;
color: red;
text-align: center;
padding-bottom: 20px;
}

.DPUB {
font-family: Helvetica,Arial,sans-serif;
font-size: 80px;
padding-top: 20px;
padding-bottom: 990px;
margin-left: auto;
margin-right: auto;
width: 1100px;
height: 1000px;
background-color: gold;
text-align: center;
animation: pulse 6s infinite alternate;
}
@keyframes pulse {
	0%, 100% {
		background-color: orange;
	}
	50% {
		background-color: white;
	}
}

.btn-slide {
text-align: left;
padding-left: 120px;
-webkit-text-stroke: 1px red;
color: gold;
padding-top: 20px;
font-size: 45px;
}

.slide {
width:35%;
font-family: Helvetica,Arial,sans-serif;
font-size: 25px;
height: 380vh;
padding:20px;
background-color: red;
position:fixed;
top:0px;
right:0px;
margin-right: 500%;
z-index: 9999
}

.box.active {
background-color: gold;
transition:2s;
}

.slide.active {
margin-right: 0;
transition:2s;
color: gold;
}

.footer {
text-align: left;
padding-left: 120px;
padding-top: 20px;
font-size: 35px;
font-weight: bold;
font-family: Helvetica,Arial,sans-serif; 
}

.desktop {
  display: block;
}

@media (max-width: 500px) {

.Title {
font-family: Helvetica,Arial,sans-serif;
font-size: 74px;
font-weight: bold;
color: red;
padding-top: 240px;
text-align: left;
padding-left: 10px;
}

.sub-heading {
font-size: 20px;
font-family: Helvetica,Arial,sans-serif;
color: red;
text-align: center;
padding-bottom: 20px;
}

.DPUB {
font-family: Helvetica,Arial,sans-serif;
font-size: 54px;
text-align: left;
padding-top: 20px;
animation: none;
background-color: gold;
padding-left: 10px;
padding-bottom: 20px;
}

.btn-slide {
display: none;
}

.footer {
text-align: left;
padding-left: 20px;
top: 40px;
font-size: 52px;
font-weight: bold;
font-family: Helvetica,Arial,sans-serif; 
}

}