.MADA {
	font-size: 300px;
	font-family: arial;
    animation: colorchange 5s infinite alternate;
}

@keyframes colorchange {
	0% {
color:red;
margin-left: 40px;
transform:skew(15deg);
letter-spacing: 100px
width: 300px;
	}
	100% {
color:gold;
margin-left: 400px;
transform: skew(100deg);
	}
}