body {
font-family: Helvetica,Arial,sans-serif;
font-size: 19px;
padding-left: 10px;
color: red;
text-align: center;
position: relative;
bottom: 200px;
background-color: white;

}

a {
color:red;
	
width: 1400px;
height: 1000px;
}
  
.Heroimage {
max-width: 200%;
height: 200%;
padding-top: 200px;
padding-bottom: 2px;
}

.mobileimage {
display: none;
}

.body {
font-family: Helvetica,Arial,sans-serif;
font-size: 35px;
padding-left: 200px;
padding-right: 200px;
padding-top: 290px;
padding-bottom: 0px;
color: red;
text-align: center;
position: relative;
bottom: 200px;
}

.nav {
justify-content:flex-start;
position: fixed;
background-color: white; 
top: 20px; 
left: 500px;
width: 100%;
text-align: center;
display: inline-block;
}

.btn {
border: 3px red;
color: red;
padding: 10px 24px;
cursor: pointer;
width: 20%;
display: inline-block;
}

.btn:hover {
background-color: red;
color: white; 
cursor: pointer;
}

.SLOGAN {
text-align: center;
color: black;
font-size: 50px;
padding-bottom: 90px;
font-family: Helvetica,Arial,sans-serif;
animation: pulse 3s ease infinite alternate;
}
@keyframes pulse {
	0%, 100% {
		color: red;
	}
	50% {
		color: white;
}
}
}

.PHOTOGRAPHY {
padding-right: 200px;
font-size: 110px;
font-family: Helvetica,Arial,sans-serif;
padding-bottom: 30px;
padding-top: 30px;
}

.container {
display: flex;
flex-wrap:wrap;
justify-content:space-between;
height: 100%;
max-width: 100%;
min-width: 100%;
flex-wrap: nowrap;
flex-direction: row-reverse;
padding-top: 50px;
text-align: center;
background-color: white;
}

.item {
width: 50%;
padding: 20px;
text-align: center;
background-color: white;
}

.item img {
max-width: 100%;
display: block;
margin: auto;
padding-bottom: 120px;
background-color: white;
}

.smile:hover {
width: 300px;
background-color: white;
transition:2s;
}

.box {
width:150px;
height:150px;
margin:10px;
background-color:white;
transition:2s;
display: inline-block;
text-align: left; 
}

.box.active {
background-color: blue;
transition:2s;
}

.alert {
width:200px;
padding:20px;
position:fixed;
top:50px;
left:400px;
box-shadow:10px 10px 10px gray;
background-color: yellow;
}

.nav {
width:100%;
padding:-30px;
position:fixed;
top:0px;
left:0px;
display: flex;
flex-wrap:wrap;
justify-content: space-around;
}

.container {
display: flex;
flex-wrap:wrap;
padding-top: 4px;
}

.item {
width:50%;
top: 0px;
}

.item img {
width: 100%;

}
.item img:hover {
filter:grayscale(0%) contrast(1);
}

.item.hide{
display: none;
}

.Contact {
font-family: Helvetica,Arial,sans-serif;
font-size: 35px;
padding-right: 40px;
padding-top: 50px;
padding-bottom: 90px;
color: red;
text-align:center;
position: relative;
bottom: 190px;
}

.DPUB {
font-family: Helvetica,Arial,sans-serif;
font-size: 35px;
position: relative;
margin-left: auto;
margin-right: auto;
width: 100%;
padding-top: 30px;
padding-bottom: 30px;
bottom: -200px;
height: 36px;
text-align: center;

}

.desktop {
display: block;
}

@media (max-width: 900px) {

.btn {
justify-content:flex-start;
background-color: white; 
top: 20px; 
left: 500px;
width: 100%;
text-align: center;
display: inline-block;
Position: fixed;
z-index: 1000;
}

.title {
font-family: Helvetica,Arial,sans-serif;
font-size: 60px;
padding-top: 250px;
margin-left: 0px;
margin-right: auto;
width: 110px;
height: 800px;
color: red;
text-align:center;
}

.Heroimage {
display: none;
}

.SLOGAN {
display: none;
}

.mobileimage {
display: none;
height: 100vh;
padding-top: 210px;
padding-bottom: 210px;
}

.Contact {
font-family: Helvetica,Arial,sans-serif;
font-size: 35px;
padding-right: 40px;
padding-top: 40px;
padding-bottom: 21px;
color: red;
text-align:left;
position: relative;
bottom: 190px;
}

.body {
font-family: Helvetica,Arial,sans-serif;
font-size: 30px;
padding-left: 11px;
padding-right: 11px;
padding-top: 60px;
color: red;
text-align: center;
font-display: block;
bottom: 20px;
}

.WORK {
text-align: center;
font-size: 60px;
font-family: Helvetica,Arial,sans-serif;
padding-bottom: 10px;
padding-top: 10px;
}

.PHOTOGRAPHY {
padding-right: 9px;
font-size: 60px;
font-family: Helvetica,Arial,sans-serif;
padding-bottom: 10px;
padding-top: 10px;
}

.container {
padding-top: 350px;
}

.item {
width: 100%;
padding-left: 10px;
padding-right: 10px;
font-size: 19px;
}

.DPUB {
font-family: Helvetica,Arial,sans-serif;
font-size: 15px;
position: relative;
margin-left: auto;
margin-right: auto;
width: 100%;
bottom: -200px;
text-align: center;
}

}






