.title {
	font-family: Helvetica,Arial,sans-serif;
	font-size: 50px;
	padding: 10px;
	margin-left: auto;
	margin-right: auto;
	width: 1400px;
	height: 800px;
	color: red;
	text-align: left;
	}

a {
	color:red;
	
	width: 1400px;
	height: 800px;
}

.body {
	font-family: Helvetica,Arial,sans-serif;
	font-size: 30px;
	padding-left: 10px;
	color: red;
	background-color: 100% orange;
	text-align: left;
	position: relative;
	bottom: 650px;
}




