body {
	font-family: Helvetica,Arial,sans-serif;
	font-size: 120px;
	text-align: left;
	color:gold;
	background-color:red;
}

.date {
	font-family: times;
	font-style: bold;
	font-size:90px;
	text-align:right;
	color:gold;
	background-color:red;
	}

	.title {
		text-transform: uppercase;

	}

	.MADA {
		font-family: times;
		font-style: bold 
		color: gold;
	}

	.message {
background-color: red;
color: gold;
font-size:100px;
text-align: center;
padding: 20px