body {
	font-family: Helvetica,Arial,sans-serif;
	font-size: 60px;
	text-align: center;
	color:red;
	background-color:gold;
}

.date {
	font-family: times;
	font-style: bold;
	font-size:130px;
	text-align:center;
	color:gold;
	background-color:red;
	}

	.title {
		text-transform: uppercase;
		text-align: center;
		font-size: 110px

	}

	.MADA {
		font-family: times;
		color: red;
	}

	.message {
background-color: gold;
color: red;
font-size:100px;
padding: 10px