body {
	font-family: Helvetica,Arial,sans-serif;
	font-size: 60px;
	color: gold;
	text-align: center;
}

a {
	color:red;
}


}
.message1 {
	font-size: 100px
	color:red;
	text-align: center;

}

.message2 {
	font-size: 200px;
	color: black;
	text-align: left;

}

.message3 {
	font-size: 300px;
	color: red;
	text-align: center;
	margin-bottom: 200px;
}
