.col {
	display:inline-block;
	width: 33%;
	font-size: 80px;
	font-family: baskerville; 
	vertical-align: top
	padding: 5px;
	background-color: red;
	 
}
.title {
	width: 33.1%;
	height: 300px;
	font-size: 80px;
	background-color: gold;
	margin-right: auto;
	margin-right: auto;
	

}
